#navigation{
   background-color: #343a40!important;
	text-align: center;
	color: #efefef;
	width:100%;
   display: block;
   position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.menuitem{
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
}
.menuitem:hover{
	background-color: grey;
	color: white !important;
}

 header .header-search-input {
    min-height: 30px;
    font-size: 16px;
    color: #ffffff;
}