 html,
body {
  height: 100%;
  margin:0 auto;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 4em;
  /* must be same height as the footer */
}


header, section {
    display: block;
}

header {
	z-index: 32;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
}

header .search{
	color:#fff;
}
 

 h1, h2, h3, h4, h5, h6 {
  color:@indigo;
}
 

// Minimal reset
a img {
	border: none;
}

// Makes images responsive
img {
	max-width: 100%;
	
}

pre {
	color: #DFDFDF;
	display: none;
	font-size: 2em;
	margin: 2em 0;
	padding: 0;
	text-align: center;
	text-shadow: 0 1px 2px #333;
}


.container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav {
	margin:1em;
}
	  
a.btn{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.p-right{ float:right; clear:fix; }

.footer {
   background-color: #563d7c; 
	min-height: 1rem;
	color:#fff;
	padding:2 em;
} 